.vs
*.vcxproj.filters
*.vcxproj.user
x64
bin
*.VC.opendb
*.sdf
*.vsp
*.psess
*.vspx
*.org
*.obj
*.debug
*.release
*.log
*.ast
lib
Debug
Release
cmajor_ucd.bin
soulng_ucd.bin
soulng.package.bin
soulng.package.index.xml
soulng.package.info.xml
unicode.zip
inst/*.exe
inst/*.dll
Express
deployment
cmajor/unitTest
cmajor/test
packages
ucd.all.flat.xml
fs
build
!sngcpp.xml
